@import "../../../globalStyles/scss/variables.scss";

.footer {
  background-color: $gray-light;

  &__favicons {
    background-color: $gray-light;
    border-top: 1px solid $gray-light;
    display: flex;
    justify-content: right;
  }

  &__copyright {
    background-color: $black;
    color: $gray-dark;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
  }

  &__menu {
    padding: $spacer * 3 0 $spacer * 2;

    .container {
      display: flex;
      flex-wrap: wrap;

      div {
        &:not(:last-of-type) {
          padding-right: $spacer * 3;
        }
      }
    }

    &-section {
      &-header {
        font-weight: $bold-font-weight;
        margin-bottom: $spacer;
      }

      &-content {
        p {
          font-weight: $bold-font-weight;
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray-light;

          a {
            text-decoration: none;
            color: $gray-light;
          }
        }
      }
    }
  }

  &-nav {
    padding: $spacer * 3 0 $spacer * 2;
    background-color: $black;

    .container {
      display: flex;
      flex-wrap: wrap;

      div:not(:last-of-type) {
        padding-right: $spacer * 3;
      }
    }

    &__section {
      &-header {
        margin-bottom: $spacer;
        text-transform: uppercase;
        color: $gray-light;
      }

      &-content {
        p {
          margin-bottom: $spacer;
          font-size: $small-font-size;
          color: $gray-light;
          text-decoration: transparent;
          transition: 0.5s;

          a {
            color: $gray;
          }

          &:hover {
            text-decoration: underline solid 3px $turquoise;
            text-underline-position: under;
          }
        }
      }
    }
  }
}
